.welcome {
    margin-bottom: 10px;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: rgba(54, 54, 54, 0.7);
}
.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.7);
}
.input:-moz-placeholder,
.textarea:-moz-placeholder {
  color: rgba(54, 54, 54, 0.7);
}
.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: rgba(54, 54, 54, 0.7);
}


.niceimage{
  border-radius:10px;
  border: 2px solid #23d160;

}
.niceimagemenu{
  border-radius:10px;
  border: 2px solid #23d160;
  transition: 0.2s ease-in;
}


.niceimagemenu:hover{
  border-color: #580a1f;
}
.modalniceimage{
  border-radius: 10px;
  border: 2px solid #f3f1f1;
  box-shadow: #717171 0px 0px 20px 0px;

}

.nicemenumargin > * {
  margin-left: 10px;
  margin-right: 10px;
}

.nicedisplaytest{
  white-space: pre-wrap;
}

.greycard{
  background-color: #f1f0f0;
}

.backshadow{
  box-shadow: 7px 9px 10px rgb(58, 55, 55);
}
.titleshadow{
  text-shadow: 2px 2px #000000
}

.popshadow{
  text-shadow: 4px 4px #78ea1e;
  font-size: 100px;
}