<!DOCTYPE html>
<html>

<head>
  <base href="[[=URL('static')]]/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon"
    href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA==" />
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="css/elements.css">
  <link rel="stylesheet" href="[[=URL('static', 'font-awesome-4.7.0/css/font-awesome.css')]]">
  [[block page_head]]
  <!-- individual pages can customize header here -->[[end]]
</head>

<body >
  </a>
  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="left-navbar"
    onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  </div>
  <div id="left-navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="[[=URL('admin')]]">Admin</a>
      <a class="navbar-item" href="[[=URL('admin_slides')]]">Slides</a>
      <a class="navbar-item" href="[[=URL('admin_menu')]]">Menu</a>
      <a class="navbar-item" href="[[=URL('admin_orders')]]">Orders</a>
      [[block page_menu_items]]
      <!-- individual pages can add menu items here -->[[end]]
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          [[if globals().get('user'):]]
          <a class="button is-primary" href="[[=URL('auth/logout')]]">Sign out</a>
          [[else:]]
          <a class="button is-primary" href="[[=URL('auth/register')]]">Sign up</a>
          <a class="button is-light" href="[[=URL('auth/login')]]">Sign in</a>
          [[pass]]
        </div>
      </div>
    </div>
  </div>
  </nav>
  <!-- beginning of HTML inserted by extending template -->
  [[include]]
  <!-- end of HTML inserted by extending template -->
</body>
<script src="js/sugar.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/utils.js"></script>
<script src="js/lodash.js"></script>
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
[[block page_scripts]]
<!-- individual pages can add scripts here -->[[end]]

</html>