[[extend 'admin_layout.html']]

<div id="vue-target">
    <section class="section">
        <h1 class="title is-1">Edit Slides</h1>

        <div class="columns">
            <div class="column">
                <div class="box">
                    <button class="button">+ Slide</button>
                    <br><br>
                    <div class="box">
                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <button class="button">Product</button>
                                </div>
                                <div class="level-item">
                                    <button class="button">Left Portrait</button>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <label>time <input type="text" name="time" size="1"
                                            maxlength="3"></label>
                                </div>
                                <div class="level-item">
                                    <label>#<input type="text" name="slide_number" size="1"
                                            maxlength="3"></label>
                                </div>
                                <div class="level-item">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                </div>
                                <div class="level-item">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="columns is-vcentered">
                            <div class="column is-two-fifths">
                                <figure class="image is-1by1" width="128">
                                    <img src="https://bulma.io/images/placeholders/128x128.png">
                                </figure>
                            </div>
                            <div class="column">
                                <label >Title:<input class="input" type="text" name="title"></label>
                                <label >Title:<textarea style="resize:none;" class="textarea" placeholder="Description..."></textarea></label>
                                <label >Price:<input class="input" type="text" name="title"></label>
                            </div>
                        </div>
                        


                    </div>


                    <div class="box">
                        Slide #2




                    </div>

                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h4 class="title is-4">Global Variables</h4>
                    <label for="time_per_slide">Time Per Slide</label>
                    <input class="input" type="text" name="time_per_slide" id="time_per_slide" size="2"></input>
                    <br><br>
                    <button class="button">Delete All</button>
                </div>

                <div class="box">
                    <h5 class="title is-5">Carousel Preview</h5>
                    <div class="box">This is where the carousel will live



                        yup
                    </div>

                    <div class="box">
                        <h5 class="title is-5">Carousel Controls</h5>
                        <hr>
                        <div class="columns">
                            <div class="column">
                                <input class="checkbox" type="checkbox" id="hold_slide" name="hold_slide" value="hold">
                                <label for="hold_slide">Hold Slide</label>
                                <br><br>
                                <label for="slide_number">Slide #</label>
                                <input class="input" type="text" name="slide_number" id="slide_number" size="2"></input>
                            </div>
                            <div class="column">
                                <button class="button">&lt;</button>
                                <button class="button">&gt;</button>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
        </div>
    </section>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let get_slides_url = "[[=XML(get_slides)]]";
    let delete_slide_url = "[[=XML(delete_slide)]]";
</script>
<script src="js/index.js"></script>
[[end]]