[[extend 'admin_layout.html']]

[[block page_head]]
<link rel="stylesheet" href="[[=URL('static/components/fileupload/fileupload.css')]]">
[[end]]

<div id="vue-target">
    <section class="section has-background-grey">
        <h1 class="title is-1 has-text-white titleshadow">Edit Slides</h1>

        <div class="columns">
            <div class="column">
                <div class="box has-background-grey-dark backshadow">
                    <button @click="add_slide" class="button">+ Slide</button>
                    <br><br>

                    <div v-for="slide in slides" class="slide box greycard" @click=preview_goto(slide.slide_idx)
                        v-if="!slide.content.deleted">

                        <div class="level">
                            <div class="level-left">
                                <div class="level-item nicemenumargin">
                                    <button class="button">Product</button>
                                    <!--Add in functionality once other stuff is done-->

                                    <button class="button">Left Portrait</button>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item nicemenumargin">
                                    <label>time <input v-model="slide.content.time" type="text" name="time" size="1"
                                            maxlength="5"></label>

                                    <label>#<input v-model="slide.content.slide_number" type="text" name="slide_number"
                                            size="1" maxlength="3" placeholder="n"></label>

                                    <i v-if="slide.content.visible" class="fa fa-eye"
                                        @click="set_slide_visible(slide.slide_idx, false)" aria-hidden="true"></i>
                                    <i v-if="!slide.content.visible" class="fa fa-eye-slash"
                                        @click="set_slide_visible(slide.slide_idx, true)" aria-hidden="true"></i>

                                    <i @click="set_slide_deleted(slide.slide_idx, true)" class="fa fa-trash"
                                        aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="columns is-vcentered">
                            <div class="column is-two-fifths">
                                <figure v-if="slide.content.image" class="image is-1by1" width="128">
                                    <img :src="slide.content.image">
                                </figure>
                                <div v-else style="width:128px; height:128px">
                                    [[=uploader]]
                                </div>
                            </div>
                            <div class="column">
                                <label>Title:<input v-model="slide.content.title" class="input" type="text"
                                        placeholder="title"></label>
                                <label>Description:<textarea v-model="slide.content.description" style="resize:none;"
                                        class="textarea" placeholder="Description..."></textarea></label>
                                <label>Price:<input v-model="slide.content.price" class="input" type="text"></label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="column">
                <div class="box greycard backshadow">
                    <h4 class="title is-4">Global Variables</h4>
                    <label>Time Per Slide <input class="input" @input="masterTime" type="text" size="2" value="--"
                            v-model="global_time_per_slide"></label>

                    <br><br>

                    <button class="button"
                        v-bind:class="{'has-background-info': isModified(), 'has-text-white':isModified()}"
                        @click="save_all_slides" :disabled="!isModified()">Save Changes</button>
                    <span class="has-text-danger" v-if="savefailed">Error: save failed. Please Try again. </span>

                    <button class="button has-background-danger has-text-white is-pulled-right"
                        @click="delete_all_slides()">Delete All</button>
                </div>

                <div class="box greycard backshadow" style="position: sticky; top: 10px;">
                    <h5 class="title is-5">Carousel Preview</h5>

                    <!-- preview slide, uses app.data.preview_content.*-->

                    <div v-for="slide in slides" v-if="slide.content.slide_number == preview_slide_number"
                        class="slide box has-background-black">
                        <div class="columns is-vcentered">
                            <div class="column is-two-fifths">

                                <img class="niceimage" :src="slide.content.image" style="height:300px; width:auto;">

                            </div>
                            <div class="column has-text-white">
                                <div>
                                    <h3 class="title is-3 title is-3 has-text-success">{{ slide.content.title }}</h3>
                                </div>
                                <div class="nicedisplaytest">{{ slide.content.description }}</div>
                                <div>{{ slide.content.price }}</div>
                            </div>
                        </div>
                    </div>


                    <div class="box">
                        <h5 class="title is-5">Carousel Controls</h5>
                        <hr>
                        <div class="columns">
                            <div class="column">
                                <label><input v-model="preview_hold_slide" @click="preview_hold_slide_toggle()"
                                        class="checkbox" type="checkbox"> Hold
                                    Slide</label>
                                <br><br>
                                <label>Slide # <input v-model="preview_slide_number" class="input" type="text"
                                        size="2"></input></label>

                            </div>
                            <div class="column">
                                <button @click="preview_previous()" class="button">&lt;</button>
                                <button @click="preview_next()" class="button">&gt;</button>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
        </div>
    </section>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let get_slides_url = "[[=XML(get_slides)]]";
    let delete_slide_url = "[[=XML(delete_slide)]]";
    let post_slides_url = "[[=XML(save_slides)]]";
</script>
<script src="js/admin_slides.js"></script>
<script src="[[=URL('static/components/fileupload/fileupload.js')]]"></script>
[[end]]