[[extend 'layout.html']]

<div id="vue-target">
  <div> Soon to be identitea homepage </div>
</div>
<section class="section has-background-black">
  <div class="container ">
    <div class="columns">
      <div class="column is-two-thirds">
        <section class="hero">
          <div class="hero-body is-paddingless">
            <div class="container">

              <h1 class="title has-text-success">Welcome to Identitea!
              </h1>
            </div>
          </div>
        </section>
        <br />

      </div>


    </div>
    <div class="columns">
    <div class="column">

      <img src="images/pokeandboba.jpg " width="400" height="400" alt="ucsc banner">
    </div>
    <div class="column">
      <p class="has-text-white">
        "With years of training towards becoming the boba connoisseur we decided to create our own shop Identitea.
        from travelling to the most popular boba shops around San Francisco, Los Angeles, and San Jose. Two brothers
        decided to combine their skills towards crafting each drink to create Identitea SF. We promise to provide fresh
        brewed tea and fresh poke to our customers. We appreciate cunstructive criticism from our customers because our
        goal is to provide a qualiTEA experience in our shop."
        </br>
        </br>
        -Alberto and Pablo

      </p>
    </div>
  </div>


  </div>


  </div>

  </div>
  </div>
</section>
<section class="section has-background-black">
  <div class="container ">
    <div class="columns">
      <div class="column is-two-thirds">
        <section class="hero">
          <div class="hero-body is-paddingless">
            <div class="container">

              <h2 class="title has-text-success">Want to find your Identitea?
              </h2>
            </div>
          </div>
        </section>
        <br />

      </div>


    </div>
    <div class="columns">
      <div class="column is-two-thirds">
       
        <p class="has-text-white"> Take our quiz to find your perfect boba match by clicking the image to the right. 
          With a truly complex quiz that has been tested by elite scholars (jk don't sue) we can find your perfect drink 
          with just a few clicks. </p>

      </div>
     

      <div class="column is-one-third">
        <a href="[[=URL('quiz')]]">
         <img class="is-pulled-right" src="images/findyourid.jpg " width="300" height="300" alt="ucsc banner" ></a>
      </div>
    </div>

  </div>
  </div>
</section>

<section class="section has-background-black">
  <div class="container ">
    <div class="columns">
      <div class="column is-two-thirds">
        <section class="hero">
          <div class="hero-body is-paddingless">
            <div class="container">

              <h2 class="title has-text-success">Location
              </h2>
            </div>
          </div>
        </section>
        <br />

      </div>


    </div>
    <div class="columns">

      <div class="column">
        <img class="is-pulled-right" src="images/location.jpg " width="400" height="350" alt="ucsc banner">
      </div>

      <div class="column">
        
        <img class="is-pulled-right" src="images/poke1.jpg" width="400" height="400" alt="ucsc banner">
      </div>

      <div class="column">
        <p class="has-text-success">Address: </p>
        <p class="has-text-white">
          3109 24th St, San Francisco, CA 94110
          </br>
          </br>
        </p>
        <p class="has-text-success">Phone Number: </p>
        <p class="has-text-white">
          (415) 861-9881
          </br>
          </br>
        </p>
        <p class="has-text-success">Order: </p>
        <p class="has-text-white">
          <a href="https://postmates.com/"target="_blank">https://postmates.com/</a>
          </br>
          </br>
        </p>


      </div>

    </div>

  </div>
  </div>
</section>




[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>

 
</script>
<script src="js/index.js"></script>
[[end]]