[[extend 'layout.html']]

<div id="vue-target">

    <div v-if="!cart_visible" class="has-background-white" @click="show_cart(true)" style="z-index: 99999999;border-radius: 90px;width: 65px;height: 65px;
        position: fixed;bottom: 20px;right: 20px;text-align: center;">
        <i style="font-size: 47px;  margin-top: 9px; color: #23d160;" class="fa fa-shopping-cart"
            aria-hidden="true"></i>
        <div style="position: relative;font-size: 35px;bottom: 50px;color: #ff0000;text-shadow: 0px 0px 1px black;">
            {{cart.length}}</div>
    </div>


    <section class="section has-background-black">
        <div v-if="cart_visible">

            <div class="box">

                <div class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <i style="font-size: 47px;" class="fa fa-shopping-cart" aria-hidden="true"></i>
                            
                        </div>
                        <div class="level-item">
                            Cart
                        </div>
                    </div>

                    <div class="level-right">
                        <div class="level-item">
                            <div @click="show_cart(false)" class="button" style="margin-right:10px;">
                                Back
                            </div>
                            <div class="button" @click="place_order()">
                                Place Order
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="box" style="overflow-x: scroll;">
                <table class="table is-hidden-mobile is-fullwidth">
                    <thead>
                        <tr>
                            <th><abbr title="Item">Item</abbr></th>
                            <th><abbr title="Product Name">Name</abbr></th>
                            <th><abbr title="Price of One">price</abbr></th>
                            <th><abbr title="Toppings">Toppings</abbr></th>
                            <th><abbr title="Quantity">Qty</abbr></th>
                            <th><abbr title="Total Price">Total Price</abbr></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="c in cart">
                            <td><img :src="c.image" style="width:100px"></td>
                            <td>{{c.item}}</td>
                            <td>{{dollars(c.price_one)}}</td>
                            <td>
                                <ul>
                                    <li v-for="e in c.extras">
                                        {{e.name + " " + dollars(e.price)}}
                                    </li>
                                    <ul>
                            </td>
                            <td>x {{c.qty}}</td>
                            <td>{{dollars(total_item(c))}}</td>
                            <td>
                                <div class="button" @click="remove_from_cart(c._idx)">remove</div>
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total:</td>
                            <td>{{dollars(total_cart(cart))}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table is-hidden-tablet is-fullwidth">
                    <thead>
                        <tr>
                            <th><abbr title="Item">Item</abbr></th>
                            <th><abbr title=""></abbr></th>

                            <th><abbr title="Toppings">Toppings</abbr></th>
                            <th><abbr title="Total Price">Total Price</abbr></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="c in cart">
                            <td><img :src="c.image" style="width:100px">
                                <div class="button" @click="remove_from_cart(c._idx)">remove</div>
                            </td>
                            <td>{{c.item}} <br> {{dollars(c.price_one)}} x {{c.qty}}</td>
                            <td>
                                <ul>
                                    <li v-for="e in c.extras">
                                        {{e.name + " " + dollars(e.price)}}
                                    </li>
                                    <ul>
                            </td>

                            <td>{{dollars(total_item(c))}}</td>
                        </tr>

                        <tr>

                            <td></td>
                            <td></td>
                            <td>Total:</td>
                            <td>{{dollars(total_cart(cart))}}</td>

                        </tr>
                    </tbody>
                </table>

                <div class="level is-mobile">
                    <div class="level-left">

                    </div>

                    <div class="level-right">
                        <div class="level-item">
                            <div @click="show_cart(false)" class="button" style="margin-right:10px;">
                                Back
                            </div>
                            <div class="button" @click="place_order()">
                                Place Order
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>




        <div v-if="!cart_visible" class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <section class="hero">
                        <div class="hero-body is-paddingless">
                            <div class="container">

                                <h1 class="title has-text-success">Identitea Boba Menu
                                </h1>
                            </div>
                        </div>
                    </section>
                    <br />

                </div>


            </div>

            <div v-for="c in category">
                <div class="container">
                    <div class="columns is-centered">
                        <div class='column  has-text-centered'>
                            <img :src="c.image" style="height: 20vh; width: auto;" alt="milktea logo"></img>
                        </div>
                    </div>
                </div>

                <div class="columns is-text-right is-centered is-multiline">
                    <div v-for="d in c.drinks" class="column  has-text-centered is-one-fifth">
                        <div v-on:click="activatemodal(d.name,d.description,d.image, d.price)">
                            <img class="niceimagemenu" :src="d.image" width="200" height="200" alt="boba"></img>
                            <div class="has-text-success">{{d.name}}</div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal" v-bind:class="{'is-active':modalIsActive}">
                <div @click="close" class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
                        <div class="content has-text-centered">
                            <p class="control ">
                            <div class="columns">
                                <div class="column is-half">
                                    <img class="modalniceimage" :src=modalimages width="200" height="200"
                                        alt="boba"></img>
                                    <div>
                                        <b> {{modalname}}</b> {{"(" + dollars(modal_price) + ")"}}
                                    </div>
                                    <br>
                                    <div class="control has-text-centered">
                                        Sweet:<br>
                                        <label class="radio">
                                            <input v-model="modal_sweet" value="100" name="modal_sweet" type="radio">
                                            100&#37;
                                        </label>
                                        <label class="radio">
                                            <input v-model="modal_sweet" value="75" name="modal_sweet" type="radio">
                                            75&#37;
                                        </label>
                                        <label class="radio">
                                            <input v-model="modal_sweet" value="30" name="modal_sweet" type="radio">
                                            30&#37;
                                        </label>
                                    </div>
                                    <div class="control has-text-centered">
                                        size:<br>
                                        <label class="radio">
                                            <input v-model="modal_size" value="Large" name="modal_size" type="radio">
                                            Large
                                        </label>
                                        <label class="radio">
                                            <input v-model="modal_size" value="Medium" name="modal_size" type="radio">
                                            Medium
                                        </label>
                                        <label class="radio">
                                            <input v-model="modal_size" value="Small" name="modal_size" type="radio">
                                            Small
                                        </label>
                                    </div>
                                    <div class="control has-text-centered">
                                        Ice:<br>
                                        <label class="radio">
                                            <input v-model="modal_ice" value="Yes" name="modal_ice" type="radio">
                                            Yes
                                        </label>
                                        <label class="radio">
                                            <input v-model="modal_ice" value="No" name="modal_ice" type="radio">
                                            No
                                        </label>
                                    </div>
                                </div>

                                <div class="column is-half">
                                    <p class="nicedisplaytest" style="font-family:courier,arial,helvetica;">
                                        {{modaldescription}}</p>


                                    <div style="text-align: left;">
                                        <h5 class="title is-5">Toppings:</h3>


                                            <div class="columns is-multiline is-mobile">
                                                <div class="column is-half" v-for="t in drink_toppings">
                                                    <label style="margin-right:10px" class="checkbox">
                                                        <input v-model="modal_toppings" :value="t.topping_idx"
                                                            type="checkbox">
                                                        {{t.name + (t.price==0 ? "" : " (" + dollars(t.price) + ")")}}
                                                    </label>
                                                </div>
                                            </div>

                                            <label class="is-pull-left"> Qty:
                                                <input type="number" @keypress="isNumber($event)" min="0" step="1" v-model="modal_qty" value="1">
                                            </label>
                                            <div class="button" @click="add_to_cart()">
                                                <i class="fa fa-cart-plus is-pull-right" aria-hidden="true"></i>
                                            </div>
                                    </div>

                                </div>




                            </div>
                            </p>
                            <span>&nbsp;</span>
                        </div>
                    </div>
                </div>
                <button @click="close" class="modal-close"></button>

            </div>

            <div class="columns">
                <div class="column is-two-thirds">
                    <section class="hero">
                        <div class="hero-body is-paddingless">
                            <div class="container">

                                <h1 class="title has-text-success">Identitea Poke Menu
                                </h1>
                            </div>
                        </div>
                    </section>
                    <br />

                </div>


            </div>


            <div class="columns is-centered">
                <div class="column has-text-centered is-4">

                    <img src="images/pokemenu1.jpg " width="500" height="500" alt="poke menu">
                </div>
                <div class="column has-text-centered is-4">

                    <img src="images/pokemenu2.jpg " width="500" height="500" alt="pokemenu">
                </div>

            </div>


            [[block page_scripts]]
            <!-- Loads the index-specific js for Vue -->
            <script>
                let get_category_url = "[[=XML(get_category)]]";
                let place_order_url = "[[=XML(place_order)]]"

            </script>
            <script src="js/menu.js"></script>
            [[end]]
        </div>

    </section>
</div>